<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="dbcon" value="Data Source=99.68.15.129,1633;Database=DBA;Uid=test;Pwd=4MQtZa@G;"/>
	</appSettings>
</configuration>